<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NRDZ Scan Spectrograms</title>
    <style>
        body{
            background-color: #123;
        }
    </style>
</head>
<body>
	
</body>
<script>

    function plusOne(digits) {
        digits = digits.split("")
        let n = digits.length, carry=0;
        if(digits[n - 1] * 1 < 9){
            digits[n - 1] = digits[n-1]*1 + 1;        
        }
        else{
            digits[n - 1] = 0;
            carry = 1;
            for(let i = n - 2; i >= 0; i--){
                if(digits[i] < 9){
                    digits[i] = digits[i] * 1 + 1;
                    carry=0;
                    break;
                }else{
                    digits[i]=0;
                }
            }
            if(carry>0){
                digits.unshift(carry);
            }
        }
        return digits.join("") 
    };

    var NRDZ_F_LO = 410
    var NRDZ_F_HI = 1790
    var NRDZ_FSTEP = 20
    
    var OBS = window.location.pathname.replace("/nrdzscan/", "").split("/")[0]
    var FIRST_TIME = OBS.replaceAll("-", "").replaceAll(":", "")
    var option = window.location.pathname.replace("/nrdzscan/", "").replace(OBS + "/", "")

    function fetchImages(){
        for (var freq = NRDZ_F_LO; freq <= NRDZ_F_HI; freq = freq + NRDZ_FSTEP){
            let s = (freq - NRDZ_F_LO) / NRDZ_FSTEP
            var increment = s * 10
            var time = FIRST_TIME
            for (let i = 0; i < increment; i++){
                time = plusOne(time)
            }
            console.log("/nrdzimages/" + freq + "/" + time)
        }
    }

</script>
</html>
