<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">
	<title>Spectral Occupancy</title>
    <style>
        body{
            background-color: #123;
        }

        #graph{
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #northlabel{
            font-family: Source Code Pro;
            font-size: 3vh;
            position: fixed;
            left: 50%;
            top: 0%;
            transform: translate(-50%, 0%);
            color: red;
        }

        table{
            position: fixed;
            color: white;
            font-family: Source Code Pro;
            transform: translate(-50%, -50%);
            table-layout: fixed;
        }

        #sel_info{
            left: 11.5%;
            top: 25%;
        }

        #sel_info tbody tr td:nth-child(2n + 1){
            text-align: right;
            width: 50%;
        }

        #sel_info tbody tr td:nth-child(2n){
            width: 50%;
        }

        #formtable{
            left: 11.5%;
            top: 50%;
        }

        #formtable tbody tr td:nth-child(2n + 1){
            text-align: right;
        }

        .forminput{
            font-family: Source Code Pro;
            background-color: #234;
            padding: 1vh 1vh;
            border: none;
            color: white;
        }

        .forminput:focus{
            outline: none;
        }

        #cat_search{
            color: #aaa;
        }

        #colorbar{
            position: fixed;
            left: 85%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 80%;
            width: 2%;
            border: 0.1vh solid white;

        }

    </style>
</head>
<body>
    <canvas id="graph" width="100" height="100">
    </canvas>

    <table id="sel_info">
        <tbody>
            <tr>
                <td colspan="2">
                    Selected Location
                </td>
            </tr>
            <tr>
                <td>
                    Az:
                </td>
                <td id="az_sel">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    El:
                </td>
                <td id="el_sel">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    Occupancy:
                </td>
                <td id="occ_sel">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="2" id="catalog_search_url">
                    <a href='' target='_blank' id='cat_search'>Search Catalog...</a>
                </td>
            </tr>
        </tbody>
    </table>

    <table id="formtable">
        <tbody>
            <tr>
                <td colspan="2" style='text-align: center;'>
                    Input Data
                </td>
            </tr>
            <tr>
                <td>
                    CFREQ:
                </td>
                <td>
                    <input type="text" id="cfreq" class="forminput" placeholder="CFREQ (MHz)">
                </td>
            </tr>
            <tr>
                <td>
                    BW:
                </td>
                <td>
                    <input type="text" id="bw" class="forminput" placeholder="Bandwidth (MHz)">
                </td>
            </tr>
            <tr style='display: none'>
                <td>
                    Cluster<br> Radius:
                </td>
                <td>
                    <input type="text" id="acr" class="forminput" placeholder="Radius (Degrees)" value="2">
                </td>
            </tr>
            <tr>
                <td>
                    Start Date:
                </td>
                <td>
                    <input type="text" id="dlo" class="forminput" placeholder="YYYY-MM-DD-HH:MM:SS">
                </td>
            </tr>
            <tr>
                <td>
                    End Date:
                </td>
                <td>
                    <input type="text" id="dhi" class="forminput" placeholder="YYYY-MM-DD-HH:MM:SS">
                </td>
            </tr>
        </tbody>
    </table>

    <div id="northlabel">
        N
    </div>

    <div id='colorbar'>

    </div>

</body>
<script>
    var SPEC_DATA = {}
    var TOTAL_OBS = 0

    var wWidth = window.innerWidth
    var wHeight = window.innerHeight

    var mindim = Math.min(wWidth, wHeight)

    graph.width = mindim
    graph.height = mindim

    var ctx = graph.getContext("2d")
    ctx.imageSmoothingEnabled = false

    var basered = [174, 13, 42]
    var baseblue = [61, 81, 189]
    
    colorbar.style.backgroundImage = 'linear-gradient(rgb(' + basered.join(",") + '), rgb(' + baseblue.join(",") + '))'

    function drawBlueSky(){
        ctx.beginPath()
        ctx.fillStyle = "rgb(" + baseblue.join(",") + ")";
        ctx.arc(Math.round(mindim / 2), Math.round(mindim / 2), mindim / 2, 0, 2 * Math.PI)
        ctx.fill()
        ctx.stroke()    
    }

    function drawGrid(){
        ctx.strokeStyle = "rgba(0,0,0,1)"
        ctx.fillStyle = "rgba(0,0,0,1)"
        
        ctx.beginPath()
        ctx.fillRect(Math.round(mindim / 2), Math.round(mindim / 2), 1, Math.round(mindim / 2))
        ctx.fillRect(Math.round(mindim / 2), Math.round(mindim / 2), Math.round(mindim / 2), 1)
        ctx.fillRect(Math.round(mindim / 2), 0, 1, Math.round(mindim / 2))
        ctx.fillRect(0, Math.round(mindim / 2), Math.round(mindim / 2), 1)
        
        ctx.closePath()
        ctx.fill()
    }

    function fetchGradientColor(val){
        var frac = val / TOTAL_OBS
        if (frac > 1){
            frac = 1
        }
        var rdiff = (basered[0] - baseblue[0]) * frac
        var gdiff = (basered[1] - baseblue[1]) * frac
        var bdiff = (basered[2] - baseblue[2]) * frac

        return [baseblue[0] + rdiff, baseblue[1] + gdiff, baseblue[2] + bdiff]
    }

    function azElToXY(az, el){
        var x = (mindim / 2) * (1 - (el / 90)) * Math.cos(Math.PI * az / 180) + (mindim / 2)
        var y = (mindim / 2) * (1 - (el / 90)) * Math.sin(Math.PI * az / 180) + (mindim / 2)
        return [x, y]
    }

    var CLUSTER_RAD = acr.value
    var newSPECDATA = {}
    var drawSPECDATA = {}
    var DRAW_RAD = ''
    function graphData(){
        ctx.clearRect(0, 0, graph.width, graph.height);
        drawBlueSky()

        if (isNaN(CLUSTER_RAD)){
            CLUSTER_RAD = acr.value
        }

        DRAW_RAD = (CLUSTER_RAD / 90) * mindim / 2

        newSPECDATA = {}
        drawSPECDATA = {}
        var keys = Object.keys(SPEC_DATA)
        for (var key of keys){
            var spl = key.split(",")
            //subtract 90 to rotate so north is up on the page
            var az = spl[0] * 1 - 90
            var el = spl[1] * 1
            var az = Math.round(az / CLUSTER_RAD) * CLUSTER_RAD
            var el = Math.round(el / CLUSTER_RAD) * CLUSTER_RAD
            var val = SPEC_DATA[key]
            var coords = azElToXY(az, el)
            var x = coords[0]// / CLUSTER_RAD) * CLUSTER_RAD
            var y = coords[1]// / CLUSTER_RAD) * CLUSTER_RAD
            var newx = Math.round(x)
            var newy = Math.round(y)
            if (newSPECDATA[newx + "," + newy] == undefined){
                newSPECDATA[newx + "," + newy] = 0
            }
            newSPECDATA[newx + "," + newy] = newSPECDATA[newx + "," + newy] + val

            var drawx = Math.round(Math.round(x / DRAW_RAD) * DRAW_RAD)
            var drawy = Math.round(Math.round(y / DRAW_RAD) * DRAW_RAD)
            if (drawSPECDATA[drawx + "," + drawy] == undefined){
                drawSPECDATA[drawx + "," + drawy] = 0
            }
            drawSPECDATA[drawx + "," + drawy] = drawSPECDATA[drawx + "," + drawy] + val
        }

        for (var key of Object.keys(drawSPECDATA)){
            var x = key.split(",")[0]
            var y = key.split(",")[1]
            var val = drawSPECDATA[key]
            ctx.beginPath()
            ctx.fillStyle = "rgb(" + fetchGradientColor(val).join(",") + ",1)"
            ctx.fillRect(x - (DRAW_RAD / 2), y - (DRAW_RAD / 2), DRAW_RAD, DRAW_RAD)
            ctx.stroke()
        }
        
        drawGrid()
    }

    var CFREQ = '';
    var BW = '';
    var ACR = '';

    function fetchData(){
        if (cfreq.value == cfreq && bw.value == bw){
            if (acr.value != ACR){
                graphData()
            }
            return
        }
        CFREQ = cfreq.value
        BW = bw.value
        ACR = acr.value
        var dloval = dlo.value.replaceAll(":", "").replaceAll("-", "")
        var dhival = dhi.value.replaceAll(":", "").replaceAll("-", "")
        
        if (dloval.replaceAll(" ", "") == ""){
            dloval = "none"
        }
        if (dhival.replaceAll(" ", "") == ""){
            dhival = "none"
        }

        if (dloval != "none"){
            while (dloval.length < 14){
                dloval = dloval + "0"
            }
        }
        if (dhival != "none"){
            while (dhival.length < 14){
                dhival = dhival + "0"
            }
        }
        
        SPEC_DATA = {}
        var req = new XMLHttpRequest;
        req.open("GET", "/specoccdata/" + CFREQ + "/" + BW + "/" + dloval + "/" + dhival)
        req.send()
        req.onreadystatechange = function(){
            if (this.readyState == 4 && this.status == 200){
                var spl = this.responseText.split("|")
                TOTAL_OBS = spl[0] * 1
                var data = spl[1].split("\n").filter(el => el != "")
                
                for (var row of data){
                    if (SPEC_DATA[row] == undefined){
                        SPEC_DATA[row] = 0
                    }
                    SPEC_DATA[row] = SPEC_DATA[row] + 1
                }
            }

            graphData()
        }
    }

    document.onkeydown = function(e){
        if (e.keyCode == 13){
            fetchData()
        }
    }

    graph.onmousedown = function(e){
        var x = e.offsetX - (mindim / 2)
        var y = e.offsetY - (mindim / 2)

        var dist = Math.sqrt(x*x + y*y)

        if (dist > mindim/2){
            return
        }

        var el = Math.round(90 * (1 - (dist / (mindim / 2))) * 1000) / 1000
        var az = Math.round((90 + (180 * Math.atan2(y, x) / Math.PI)) * 1000) / 1000

        while (az < 0){
            az = (az + 360) % 360
        }


        az_sel.textContent = az
        el_sel.textContent = el
        az = Math.round(az / CLUSTER_RAD) * CLUSTER_RAD
        el = Math.round(el / CLUSTER_RAD) * CLUSTER_RAD
        
        var coords = azElToXY(az - 90, el)
        
        var key = Math.round(Math.round(coords[0] / DRAW_RAD) * DRAW_RAD) + "," + Math.round(Math.round(coords[1] / DRAW_RAD) * DRAW_RAD)
        
        var val = drawSPECDATA[key]
        var frac = 100 * val / TOTAL_OBS
        if (frac > 100){
            frac = 100
        }
        if (isNaN(frac)){
            frac = 0
        }
        
        occ_sel.textContent = Math.round(frac * 100) / 100 + "%"
        let halfrad = (acr.value * 1 / 2)
        azlo = az - halfrad
        azhi = az + halfrad
        ello = el - halfrad
        elhi = el + halfrad
        cat_search.href = "/catalog?az=" + azlo + "," + azhi + "&el=" + ello + "," + elhi
        if (!isNaN(cfreq.value) && cfreq.value != ''){
            cat_search.href = cat_search.href + "&cfreq=" + (cfreq.value * 1 - bw.value * 1 / 2) + "," + (cfreq.value * 1 + bw.value * 1 / 2)
        }
    }

    drawBlueSky()
    drawGrid()

</script>
</html>
